deploy/openshift-clusters/roles/install-dev/files/config_arbiter.sh
deploy/openshift-clusters/roles/install-dev/files/config_fencing.sh
deploy/openshift-clusters/inventory-backup/
.cursorrules
CLAUDE.md
deploy/openshift-clusters/vars/kcli.yml
deploy/openshift-clusters/vars/main.yml
