---
# Prerequisites for kcli-redfish role
# Install required Python dependencies for kubernetes.core collection

- name: Enable CodeReady Builder repository for RHEL 9
  community.general.rhsm_repository:
    name: "codeready-builder-for-rhel-9-{{ ansible_architecture }}-rpms"
    state: enabled
  become: true

- name: Install EPEL repository for RHEL 9
  dnf:
    name: https://dl.fedoraproject.org/pub/epel/epel-release-latest-9.noarch.rpm
    state: present
    disable_gpg_check: true
  become: true

- name: Install Python dependencies for kubernetes.core collection
  package:
    name:
      - python-kubernetes
    state: present
  become: true
