---
# Copy cluster authentication files to standard location
# This task file is designed to be included by other roles, not run from main.yaml

- name: Create auth directory in user home
  file:
    path: "~/auth"
    state: directory
    mode: '0700'

- name: Copy kubeconfig to auth directory
  copy:
    src: "{{ kubeconfig_path }}"
    dest: "~/auth/kubeconfig"
    mode: '0600'
    remote_src: true

- name: Copy kubeadmin-password to auth directory
  copy:
    src: "{{ kubeadmin_password_path }}"
    dest: "~/auth/kubeadmin-password"
    mode: '0600'
    remote_src: true
  when: kubeadmin_password_path is defined

- name: Create .kube directory
  file:
    path: "~/.kube"
    state: directory
    mode: '0755'

- name: Create symlink for default kubeconfig location
  file:
    src: "~/auth/kubeconfig"
    dest: "~/.kube/config"
    state: link
    force: true

- name: Display auth files location
  debug:
    msg: |
      Cluster authentication files copied to ~/auth/:
      - kubeconfig: ~/auth/kubeconfig
      {% if kubeadmin_password_path is defined %}
      - kubeadmin-password: ~/auth/kubeadmin-password
      {% endif %}
      - Default kubeconfig symlink: ~/.kube/config -> ~/auth/kubeconfig