---
# Setup and start proxy container

- name: Get current user and home directory
  shell: |
    USER=$(whoami)
    HOME_DIR=$(getent passwd $USER | cut -d: -f6)
    echo "$USER:$HOME_DIR"
  register: user_home_info
  changed_when: false

- name: Set user and home facts
  set_fact:
    proxy_user: "{{ user_home_info.stdout.split(':')[0] }}"
    proxy_home: "{{ user_home_info.stdout.split(':')[1] }}"

- name: Generate squid configuration from template
  template:
    dest: "{{ proxy_home }}/squid.conf"
    src: squid.conf.j2
    mode: '0644'

- name: Create squid proxy container
  containers.podman.podman_container:
    name: "{{ proxy_container_name }}"
    image: "{{ proxy_image }}"
    state: started
    dns: "127.0.0.1"
    restart_policy: always
    network: host
    volumes:
      - "{{ proxy_home }}/squid.conf:/etc/squid/squid.conf:Z" 