---
# Fetch cluster credentials for proxy setup

- name: Get kubeconfig
  fetch:
    src: "{{ kubeconfig_path }}"
    dest: ./kubeconfig
    flat: true

- name: Get kubeadmin-password
  fetch:
    src: "{{ kubeadmin_password_path }}"
    dest: ./kubeadmin-password
    flat: true
